<%= simple_form_for(setup_classmate(@classmate), wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f| %>
  <% if @classmate.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@classmate.errors.count, "error") %> prohibited this classmate from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @classmate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-4">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :married_name %>
      <%= f.input :spouse %>
    </div>
    <div class="col-lg-4">
      <div id="paypal-button"></div>
      <%= f.input :paid, as: :boolean, boolean_style: :inline %>
      <%= f.input :attending, as: :boolean, boolean_style: :inline %>
      <%= f.input :status_id,:collection => @statuses, :include_blank => true %>
    </div>
  </div>
  <div class="row">
    <br><br>
    <%= f.fields_for :addresses, wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean} do |ff| %>
      <div class="col-lg-4">
        <%= ff.input :street1 %>
        <%= ff.input :stree2 %>
        <%= ff.input :city %>
        <%= ff.input :state %>
        <%= ff.input :zip %>
        <%= ff.input :country %>
        <br>
      </div>
    <% end %>
  </div>
  <div class="row">
    <br><br>
    <%= f.fields_for :phones, wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean} do |fp| %>
      <div class="col-lg-4">
        <%= fp.input :label %>
        <%= fp.input :number %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <br><br>
    <%= f.fields_for :emails, wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean} do |fe| %>
      <div class="col-lg-4">
        <%= fe.input :label %>
        <%= fe.input :email %>
      </div>
    <% end %>
    <div class="col-lg-offset-2 col-lg-10">
      <br><br>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                classmates_path, :class => 'btn btn-default' %>
    </div>
    <script>
    paypal.Button.render({
      env: 'production', // Or 'sandbox',

      commit: true, // Show a 'Pay Now' button

      style: {
        color: 'gold',
        size: 'small'
      },

      payment: function(data, actions) {
        /*
         * Set up the payment here
         */
      },

      onAuthorize: function(data, actions) {
        /*
         * Execute the payment here
         */
      },

      onCancel: function(data, actions) {
        /*
         * Buyer cancelled the payment
         */
      },

      onError: function(err) {
        /*
         * An error occurred during the transaction
         */
      }
    }, '#paypal-button');
  </script>
<% end %>
